/* ==== GENERAL STYLES ==== */

* {
	box-sizing: border-box;
}

/* ==== HEADER ==== */
.cover {
	background:url(video.mp4) no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
 	font-family: 'Roboto', sans-serif;
  text-align:right;
  display: table;
 }

.wrapper {
	display: table-cell;
  vertical-align: middle;
	padding: 0.625rem;
}

.headline {
	font-size:3rem;
	margin: 0.5rem;
  color: #ccc59b
}

@media screen and (min-width:1224px) {

	.headline {
		font-size:3rem;
     color:#ccc59b;
	}

}

.tagline {
	font-size: 2rem;
	margin: 0.5rem;
  color:#ccc59b;;
}


@media screen and (min-width: 1224px) {

	.tagline{
		font-size: 2rem;
     color:#ccc59b;
	}

}

.name {
	font-size: 1rem;
	margin: 1.5rem;
  color:#ccc59b;
}


@media screen and (min-width: 1224px) {

	.name{
		font-size: 1rem;
     color:#ccc59b;
	}

}
.byline h2 {
	font-size: 0.8rem;
	line-height: 1.5rem;
	letter-spacing: .1rem;
	margin-bottom: .5rem;
	text-transform: uppercase;
  color:#ccc59b;
  font-family: 'Roboto', sans-serif;
}
  
/* ==== FOLDS AND CONTENTS ==== */

body {
 color: #000000;
 font-family: 'Roboto Condensed', sans-serif;
 font-size: 20px;
 background-color:#fffcf2
}

.content-subhead {
  font-weight: 100;
  font-family: 'Six Caps', sans-serif;
   color:#868179;
  font-size: 67px;
}

.fold1
{
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  color:#fffcf2;
  background-color:#884125
}

.fold2
{
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
  font-family: 'Source Sans Pro', sans-serif;
    color:#403d39;
   background-color:#fffcf2
}

.fold3
{
   margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
  font-family: 'Source Sans Pro', sans-serif;
   color:#403d39;
   background-color:#fffcf2
}

.fold4
{
 margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
  font-family: 'Source Sans Pro', sans-serif;
    color:#403d39;
   background-color:#fffcf2
}

.fold5
{
 margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
  font-family: 'Source Sans Pro', sans-serif;
    color:#403d39;
   background-color:#fffcf2
}

.fold6
{
   margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
  font-family: 'Source Sans Pro', sans-serif;
    color:#403d39;
   background-color:#fffcf2
}

.fold7
{
   margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
  font-family: 'Source Sans Pro', sans-serif;
  color:#403d39;
   background-color:#fffcf2
}

.fold8
{
   margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
  font-family: 'Source Sans Pro', sans-serif;
  color:#403d39;
   background-color:#fffcf2
}

.c
{text-align: center;
  color:#fffcf2;
  background-color:#884125}

.counter
{font-size: 80px;}

.responsive { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.botao-wpp {
  text-decoration:none;
  color: #ffffff;
  display: inline-block;
  background-color: #2c2c2c;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 3px;
}


.figcaption
{font-size: 8px;}