/* ==== GENERAL STYLES ==== */

* {
	box-sizing: border-box;
}

/* ==== FULL SCREEN HEADER ==== */
.video
position:fixed;
z-index:-1;

@media (min-aspect-ratio:16/9) {
#video {
width:100%;
height:auto;
}
}

@media (max-aspect-ratio:16/9) {
#video {
width:auto;
height:100%;
}
}

@media (max-width: 767px) {
#video {
display: none;
}
body {
background: url("videoBG.png");
background-size: cover;
}
}

.cover {
	background:url(video.mp4) no-repeat center;
  background-size:cover;
  height: 100vh;
  width: 100vw;
 	font-family: 'Roboto', sans-serif;
  text-align:right;
  display: table;
  margin: 0
}

.wrapper {
	display: table-cell;
  vertical-align: middle;
	padding: 0.625rem;
}

.headline {
	font-size:5rem;
	margin: 3rem;
  color: #ccc59b
}

@media screen and (min-width: 1224px) {

	.headline {
		font-size: 5rem;
     color:#ccc59b;
	}

}

.tagline {
	font-size: 3rem;
	line-height: 1.5rem;
  color:#ccc59b;;
}


@media screen and (min-width: 1224px) {

	.tagline{
		font-size: 5rem;
     color:#ccc59b;
	}

}
/* ==== FOLDS AND CONTENTS ==== */

body {
 color: #000000;
 font-family: 'Roboto Condensed', sans-serif;
 font-size: 20px;
 background-color:#fffcf2
}

.content-subhead {
  font-weight: 100;
  font-family: 'Six Caps', sans-serif;
   color:#868179;
  font-size: 67px;
}


.fold1
{
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  color:#fffcf2;
  background-color:#884125
}

.fold2
{
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
  font-family: 'Source Sans Pro', sans-serif;
    color:#403d39;
   background-color:#fffcf2
}

.fold3
{
   margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
  font-family: 'Source Sans Pro', sans-serif;
   color:#403d39;
   background-color:#fffcf2
}

.fold4
{
 margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
  font-family: 'Source Sans Pro', sans-serif;
    color:#403d39;
   background-color:#fffcf2
}

.fold5
{
 margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
  font-family: 'Source Sans Pro', sans-serif;
    color:#403d39;
   background-color:#fffcf2
}

.fold6
{
   margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
  font-family: 'Source Sans Pro', sans-serif;
    color:#403d39;
   background-color:#fffcf2
}

.fold7
{
   margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
  font-family: 'Source Sans Pro', sans-serif;
  color:#403d39;
   background-color:#fffcf2
}

.fold8
{
   margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
  font-family: 'Source Sans Pro', sans-serif;
  color:#403d39;
   background-color:#fffcf2
}

.c
{text-align: center;
  color:#fffcf2;
  background-color:#884125}

.counter
{font-size: 80px;}

.responsive { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.botao-wpp {
  text-decoration:none;
  color: #ffffff;
  display: inline-block;
  background-color: #2c2c2c;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 3px;
}


.sound
{position:fixed;
z-index:-1;

@media (min-aspect-ratio:16/9) {
#sound {
width:100%;
height:auto;
}
}

@media (max-aspect-ratio:16/9) {
#sound {
width:auto;
height:100%;
}
}

@media (max-width: 767px) {
#sound {
display: none;
}
body {
background: url("soundBG.png");
background-size: cover;
}
}